<section id="sidebar-deadlines" class="well">
  <h3>&nbsp;Project Partners</h3>

  <center>
    <a href="https://afnic.fr/"><img src="images/partner-logos/logo-afnic.jpg"></a>
    <br/><br/>
    <a href="http://www.mi.fu-berlin.de/en/inf/groups/ilab/"><img src="images/partner-logos/logo-fub.jpg"></a>
    <br/><br/>
    <a href="http://inet.haw-hamburg.de/"><img src="images/partner-logos/logo-haw.jpg"></a>
    <br/><br/>
    <a href="https://perso.citi-lab.fr/mcunche/"><img src="images/partner-logos/logo-insa.jpg"></a>
    <br/><br/>
    <a href="https://www.lobaro.com/"><img src="images/partner-logos/logo-lobaro.jpg"></a>
    <br/><br/>
    <a href="https://www.thethingsnetwork.org/community/berlin/"><img src="images/partner-logos/logo-ttnb.jpg"></a>
  </center>
</section>
